.movie-item {
  padding: 12px;
  grid-gap: 12px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.movie-image {
  flex-grow: 1;
  flex-basis: 100px;
}

.movie-description {
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 100px;
}

.movie-rating {
  position: absolute;
  top: 24px;
  left: 24px;
  background: #60B04C;
  color: white;
  padding: 6px;
  display: inline-flex;
}
