<ng-container *ngIf="{
  movie: movie | async,
  cast: cast | async,
  comments: comments | async
} as data">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button [routerLink]="['../']">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>{{data.movie?.title}}</ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <app-logout slot="end"></app-logout>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col sizeLg="4" sizeMd="6" sizeXs="12">
          <div class="movie-item">
            <div class="movie-rating">{{data.movie?.rating}}</div>
            <img [src]="data.movie?.posterUrl" class="movie-image"/>
            <div class="movie-description">
              <p>Year: {{data.movie?.year}}</p>
              <p>Duration: {{data.movie?.duration}}</p>
              <p>Cast: {{data.cast?.join(', ')}}</p>
            </div>
            <ion-button (click)="showComments = !showComments">
              {{showComments ? 'Hide comments' : 'Show comments'}}
            </ion-button>
            <form *ngIf="showComments"
                  (ngSubmit)='comment()'
                  [formGroup]='form'>
              <ion-item class="ion-no-margin">
                <ion-input placeholder="Your comment"
                           type="text"
                           [formControlName]="'message'"></ion-input>
                <ion-button type="submit" size="default">
                  <ion-icon name="add-outline"></ion-icon>
                </ion-button>
              </ion-item>
            </form>
          </div>
          <ion-list *ngIf="showComments">
            <ion-item *ngFor="let c of data.comments">
              <ion-col>
                <ion-row>
                  <ion-label color="medium">
                    <p>{{c.created_at * 1000 | date}}</p>
                  </ion-label>
                </ion-row>
                <ion-row>
                  <ion-label text-wrap>{{c.message}}</ion-label>
                </ion-row>
              </ion-col>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ng-container>
